<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_sss_Gradient.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,2289},{60,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>eff_sss_annulus.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{498,458}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,41},{498,458}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>eff_sss_beiguang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1905},{262,266}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,17},{262,266}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_sss_beiguang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1731},{262,266}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,17},{262,266}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_sss_bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,381},{212,30}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,113},{212,30}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_sss_bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,2000},{244,92}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,82},{244,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_sss_bullet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,1558},{186,66}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,93},{186,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_sss_caidai.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,290},{509,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{509,169}}</string>
                <key>sourceSize</key>
                <string>{511,169}</string>
            </dict>
            <key>eff_sss_cuoyise.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{342,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,141}}</string>
                <key>sourceSize</key>
                <string>{342,141}</string>
            </dict>
            <key>eff_sss_cyanL.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,1404},{152,72}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,17},{152,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>eff_sss_da.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2203},{122,136}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{122,136}}</string>
                <key>sourceSize</key>
                <string>{122,146}</string>
            </dict>
            <key>eff_sss_dankeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1665},{248,274}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,16},{248,274}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_sss_dankongtu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1739},{248,254}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,17},{248,254}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_sss_daqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1893},{248,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,146}}</string>
                <key>sourceSize</key>
                <string>{248,146}</string>
            </dict>
            <key>eff_sss_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,900},{118,104}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,21},{118,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>eff_sss_diamond2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,461},{58,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{58,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>eff_sss_diguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,2},{441,425}}</string>
                <key>offset</key>
                <string>{-16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,12},{441,425}}</string>
                <key>sourceSize</key>
                <string>{655,463}</string>
            </dict>
            <key>eff_sss_diguang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1409},{258,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{258,216}}</string>
                <key>sourceSize</key>
                <string>{348,216}</string>
            </dict>
            <key>eff_sss_disk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,2088},{240,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,232}}</string>
                <key>sourceSize</key>
                <string>{240,232}</string>
            </dict>
            <key>eff_sss_fangkuaibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,2223},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>eff_sss_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2237},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>eff_sss_glow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,1742},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_sss_goldenL.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{542,288}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,55},{542,288}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
            <key>eff_sss_greenL.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,1250},{152,72}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,17},{152,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>eff_sss_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,2365},{128,124}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>eff_sss_guang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,1638},{258,102}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,98},{258,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_sss_guang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2111},{202,204}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,25},{202,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_sss_guangci.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,582},{46,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{46,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>eff_sss_guangman.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,2365},{128,124}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,90},{128,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_sss_guangman01.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1995},{206,206}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{206,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_sss_guangman02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,2223},{210,210}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{210,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_sss_guangman04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,2175},{210,210}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{210,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_sss_guangman08.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1627},{258,102}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,98},{258,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_sss_guangmang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,1270},{366,368}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,75},{366,368}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>eff_sss_guangquanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,953},{170,172}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,56},{170,172}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_sss_gun.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1915},{194,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{194,261}}</string>
                <key>sourceSize</key>
                <string>{194,263}</string>
            </dict>
            <key>eff_sss_hua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1393},{284,270}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{284,270}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_sss_hua4.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2203},{138,132}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,37},{138,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_sss_jianbian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,1575},{276,92}}</string>
                <key>offset</key>
                <string>{5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,179},{276,92}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_sss_jianci.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,1669},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_sss_jianci14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,569},{430,14}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,242},{430,14}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>eff_sss_jianci3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,265},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>eff_sss_jianci4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1989},{246,248}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{246,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_sss_jianci6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,1927},{246,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{246,250}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_sss_jianci7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,779},{474,78}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{474,78}}</string>
                <key>sourceSize</key>
                <string>{500,128}</string>
            </dict>
            <key>eff_sss_liangse.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{538,286}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,56},{538,286}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
            <key>eff_sss_liuduiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1241},{316,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,150}}</string>
                <key>sourceSize</key>
                <string>{316,150}</string>
            </dict>
            <key>eff_sss_lizi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,1323},{280,250}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{280,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>eff_sss_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,2122},{98,92}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{98,92}}</string>
                <key>sourceSize</key>
                <string>{98,108}</string>
            </dict>
            <key>eff_sss_long2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,1638},{99,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{99,106}}</string>
                <key>sourceSize</key>
                <string>{99,108}</string>
            </dict>
            <key>eff_sss_moji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1387},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_sss_one.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,292},{87,32}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,49},{87,32}}</string>
                <key>sourceSize</key>
                <string>{89,108}</string>
            </dict>
            <key>eff_sss_orangeL.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,1096},{152,72}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,17},{152,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>eff_sss_paiL.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,902},{366,368}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,75},{366,368}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>eff_sss_pailian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,2322},{63,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{63,95}}</string>
                <key>sourceSize</key>
                <string>{75,99}</string>
            </dict>
            <key>eff_sss_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,953},{170,172}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,56},{170,172}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_sss_qiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,1739},{104,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{104,98}}</string>
                <key>sourceSize</key>
                <string>{106,100}</string>
            </dict>
            <key>eff_sss_qing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,1006},{82,111}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{82,111}}</string>
                <key>sourceSize</key>
                <string>{82,115}</string>
            </dict>
            <key>eff_sss_qinglong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,585},{315,428}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,428}}</string>
                <key>sourceSize</key>
                <string>{315,450}</string>
            </dict>
            <key>eff_sss_qiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2237},{126,135}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,49},{126,135}}</string>
                <key>sourceSize</key>
                <string>{250,239}</string>
            </dict>
            <key>eff_sss_qizi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,1313},{212,282}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{485,467},{212,282}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>eff_sss_qizi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,1125},{216,282}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,467},{216,282}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>eff_sss_qizi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1689},{214,282}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{483,467},{214,282}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>eff_sss_qizi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1527},{210,282}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{487,467},{210,282}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>eff_sss_quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2143},{144,142}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{144,142}}</string>
                <key>sourceSize</key>
                <string>{150,148}</string>
            </dict>
            <key>eff_sss_quanleida.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,953},{360,146}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,146}}</string>
                <key>sourceSize</key>
                <string>{360,148}</string>
            </dict>
            <key>eff_sss_quanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,859},{452,452}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{452,452}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>eff_sss_quanzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,461},{490,490}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{490,490}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>eff_sss_san.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2216},{97,92}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{97,92}}</string>
                <key>sourceSize</key>
                <string>{97,134}</string>
            </dict>
            <key>eff_sss_sanshunzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1255},{320,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,130}}</string>
                <key>sourceSize</key>
                <string>{320,130}</string>
            </dict>
            <key>eff_sss_santonghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1115},{320,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{320,138}}</string>
                <key>sourceSize</key>
                <string>{322,140}</string>
            </dict>
            <key>eff_sss_santonghuashun.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,972},{296,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,134}}</string>
                <key>sourceSize</key>
                <string>{296,134}</string>
            </dict>
            <key>eff_sss_shoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,902},{192,72}}</string>
                <key>offset</key>
                <string>{-32,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{192,72}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>eff_sss_shooted.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1627},{258,102}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,98},{258,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_sss_shun.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1995},{101,125}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{101,125}}</string>
                <key>sourceSize</key>
                <string>{101,133}</string>
            </dict>
            <key>eff_sss_smog1.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2310},{90,96}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,80},{90,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_sss_smog2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1578},{166,168}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,48},{166,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_sss_smog3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,2322},{200,208}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{200,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_sss_smog4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,1850},{226,236}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{226,236}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eff_sss_smog5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,1746},{98,102}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,95},{98,102}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>eff_sss_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,515},{65,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,55}}</string>
                <key>sourceSize</key>
                <string>{65,55}</string>
            </dict>
            <key>eff_sss_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,2387},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>eff_sss_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1746},{186,145}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,145}}</string>
                <key>sourceSize</key>
                <string>{188,149}</string>
            </dict>
            <key>eff_sss_start2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,2},{516,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,261}}</string>
                <key>sourceSize</key>
                <string>{516,261}</string>
            </dict>
            <key>eff_sss_startgame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{478,218}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,53},{478,218}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>eff_sss_stst.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,429},{446,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,138}}</string>
                <key>sourceSize</key>
                <string>{446,138}</string>
            </dict>
            <key>eff_sss_teizhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,2094},{230,127}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{230,127}}</string>
                <key>sourceSize</key>
                <string>{240,129}</string>
            </dict>
            <key>eff_sss_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,1216},{105,106}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{105,106}}</string>
                <key>sourceSize</key>
                <string>{107,108}</string>
            </dict>
            <key>eff_sss_tong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,2351},{63,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{63,99}}</string>
                <key>sourceSize</key>
                <string>{63,101}</string>
            </dict>
            <key>eff_sss_wtz.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1101},{319,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,138}}</string>
                <key>sourceSize</key>
                <string>{319,138}</string>
            </dict>
            <key>eff_sss_xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,1090},{124,106}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,41},{124,106}}</string>
                <key>sourceSize</key>
                <string>{124,148}</string>
            </dict>
            <key>eff_sss_zhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,2387},{90,92}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,33},{90,92}}</string>
                <key>sourceSize</key>
                <string>{90,150}</string>
            </dict>
            <key>eff_sss_zung.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,779},{96,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{96,119}}</string>
                <key>sourceSize</key>
                <string>{96,123}</string>
            </dict>
            <key>eff_sss_zzql.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1270},{306,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{306,148}}</string>
                <key>sourceSize</key>
                <string>{308,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pub_sssEff.png</string>
            <key>size</key>
            <string>{2048,2524}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49bca520ec64287a4a8a97f0e208167e$</string>
            <key>textureFileName</key>
            <string>pub_sssEff.png</string>
        </dict>
    </dict>
</plist>
